
input[type='file'] {
	width: 150px;
  color: transparent;
}

* { margin:0; padding:0;}
	#slide { 

overflow: hidden; 
height: 300px;
margin: 50px auto;
box-shadow: 0 0 8px #000;
position: relative;
}
	#slide img {
position: absolute;
z-index: 1;
display: none;
left: 0;
width: 100%;
height: 100%;
}
	#slide p {
z-index:2;
position: absolute; 
bottom: 0;
left: 0;
width: 100%;
padding: 10px; 
font-family: Arial; 
font-size: 14px; 
background: rgba(0,0,0,0.5);  
color: #fff;
}



.thumba{
	    width: 150px;
    transition: 0.5s;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.thumba:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
